erb
     <% @events.each do |event| %>
       <h2><%= event.name %></h2>
       <p><%= event.description %></p>
       <p><%= event.date %></p>
       <p><%= event.location %></p>
       <%= link_to 'Book', book_event_path(event), method: :post %>
     <% end %>